body {
  font-family: "Times New Roman", Times, serif;
}

h1 {
  font-size: 65px;
  color: white;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  font-size: 23px;
  color: #fff;
}

.additional-info {
  margin-top: 60px;
}

.current-img img {
  width: 150px;
  padding: 50px 0px;
}

.row {
  justify-content: center;
}

.weather-app-wrapper {
  max-width: 900px;
  margin: 50px auto;
}

.weather-app {
  border: 1px solid rgb(19, 72, 247);
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 20px;
  background: linear-gradient(rgb(195, 211, 252), rgb(39, 88, 252));
}
